.item-card {
  background-color: #555;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 20vmin;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.6);
  transform: rotate(-3deg);
  border: 0.25rem solid #000;
  box-sizing: border-box;
  font-size: 0.75rem;
}

.item-name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  text-align: left;
  padding: 0.1rem 0;
  font-size: 0.6rem;
  padding-left: 1rem;
  padding-top: .2rem;
  z-index: 2;
}

.item-image {
  width: 40px;
  height: 40px;
  margin-bottom: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.item-stats {
  position: absolute;
  bottom: 1.2rem;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  gap: 4px;
  justify-content: center;
  color: #000000;
  padding: 0.1rem 0;
  font-size: 0.8rem;
}

.attack-icons,
.defence-icons {
  display: flex;
  gap: 2px;
}

.attack-value {
  display: flex;
  align-items: center;
  gap: 2px;
}

.plus-icon {
  width: 0.5rem;
  height: 0.5rem;
}

.stat-icon {
  width: 0.8rem;
  height: 0.8rem;
}

.weapon-type {
  position: absolute;
  bottom: -0.25rem;
  right: -0.25rem;
  width: 25%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #fff;
  border: 0.25rem solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.weapon-type img {
  width: 70%;
  height: 70%;
}