.tile {
  background-color: #333;
  color: white;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid #777;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.55rem;
  overflow: hidden;
}
.tile.possible {
  box-shadow: inset 0 0 0 2px yellow;
  cursor: pointer;
}
.tile.revealed {
  background-color: #555;
  border-color: #aaa;
}


.room-graphic {
  position: absolute;
  inset: 0;
}

.card-back {
  position: absolute;
  inset: 0;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: repeating-linear-gradient(
    45deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  background-color: #aaa;
  transform: translate(-50%, -50%);
}

.door {
  position: absolute;
  background-color: #aaa;
}

.door-up {
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translateX(-50%);
}

.door-down {
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translateX(-50%);
}

.door-left {
  left: 0;
  top: 50%;
  width: 50%;
  height: 50%;
  transform: translateY(-50%);
}

.door-right {
  right: 0;
  top: 50%;
  width: 50%;
  height: 50%;
  transform: translateY(-50%);
}

.goblin-icon {
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-size: 0.7rem;
}

.room-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  font-family: "IM Fell English", serif;
}
