@use 'sass:list';

%card {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.3rem 0.375rem rgba(0, 0, 0, 0.6);
  backface-visibility: hidden;
  border: 0.3rem solid #000;
  box-sizing: border-box;
}

@mixin card($rotation: 0deg, $width: 30vmin, $ratio: list.slash(2, 3)) {
  @extend %card;
  width: $width;
  aspect-ratio: $ratio;
  transform: rotate($rotation);
}