#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  max-width: 350px;
  margin: 0 auto;
}

.main {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}

